@model Blogi.Dashboard.Models.DashboardHomeViewModel
@{
    ViewData["Title"] = "Admin Home Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <!-- End XP Col -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-success m-b-30">
            <div class="card-body">
                <div class="xp-widget-box">
                    <div class="float-left">
                        <h4 class="xp-counter text-white">@Model.CountOfArticle</h4>
                        <p class="mb-0 text-white">Count of Article</p>
                    </div>
                    <div class="float-right">
                        <div class="xp-widget-icon xp-widget-icon-bg">
                            <i class="mdi mdi-book font-40 text-white"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End XP Col -->
    <!-- End XP Col -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-warning m-b-30">
            <div class="card-body">
                <div class="xp-widget-box">
                    <div class="float-left">
                        <h4 class="xp-counter text-white">@Model.CountOfCategory</h4>
                        <p class="mb-0 text-white">Count of Category</p>
                    </div>
                    <div class="float-right">
                        <div class="xp-widget-icon xp-widget-icon-bg">
                            <i class="mdi mdi-view-list font-40 text-white"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End XP Col -->
    <!-- End XP Col -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-danger m-b-30">
            <div class="card-body">
                <div class="xp-widget-box">
                    <div class="float-left">
                        <h4 class="xp-counter text-white">@Model.CountOfComment</h4>
                        <p class="mb-0 text-white">Count of Comment</p>
                    </div>
                    <div class="float-right">
                        <div class="xp-widget-icon xp-widget-icon-bg">
                            <i class="mdi mdi-comment font-40 text-white"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End XP Col -->
    <!-- End XP Col -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-primary m-b-30">
            <div class="card-body">
                <div class="xp-widget-box">
                    <div class="float-left">
                        <h4 class="xp-counter text-white">@Model.CountOfTag</h4>
                        <p class="mb-0 text-white">Count of Tag</p>
                    </div>
                    <div class="float-right">
                        <div class="xp-widget-icon xp-widget-icon-bg bg-white">
                            <i class="mdi mdi-tag font-30 text-primary"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>  
</div>