/* 
==============
    Badges
==============
*/

.badge {
    font-weight: 400;
    padding: 5px 6px 3px;
}
.badge-default {
  background-color: $primary;
  color: $white;
  &[href]:hover{
    background-color: darken($primary, 5%);
  } 
  &[href]:focus {
    background-color: darken($primary, 5%);
  }
}
.badge-primary {
  background-color: $primary;
  &[href]:hover{
    background-color: darken($primary, 5%);
  } 
  &[href]:focus {
    background-color: darken($primary, 5%);
  }
}
.badge-secondary {
  background-color: $secondary;
  &[href]:hover{
    background-color: darken($secondary, 5%);
  } 
  &[href]:focus {
    background-color: darken($secondary, 5%);
  }
}
.badge-success {
  background-color: $success;
  &[href]:hover{
    background-color: darken($success, 5%);
  } 
  &[href]:focus {
    background-color: darken($success, 5%);
  }
}
.badge-danger {
  background-color: $danger;
  &[href]:hover{
    background-color: darken($danger, 5%);
  } 
  &[href]:focus {
    background-color: darken($danger, 5%);
  }
}
.badge-warning {
  color: $white;
  background-color: $warning;
  &[href]:hover{
    background-color: darken($warning, 5%);
  } 
  &[href]:focus {
    background-color: darken($warning, 5%);
  }
}
.badge-info {
  background-color: $info;
  &[href]:hover{
    background-color: darken($info, 5%);
  } 
  &[href]:focus {
    background-color: darken($info, 5%);
  }
}
.badge-light {
  color: $muted;  
  background-color: $light;  
  &[href]:hover{
    background-color: darken($light, 5%);
  } 
  &[href]:focus {
    background-color: darken($light, 5%);
  }
}
.badge-dark {
  background-color: $dark;
  &[href]:hover{
    background-color: darken($dark, 5%);
  } 
  &[href]:focus {
    background-color: darken($dark, 5%);
  }
}