@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 fxt-bg-img" data-bg-image="../favicon.png">
            <div class="fxt-header">

                <h1>Welcome To Blogi BLoG</h1>
                <p>Blogi Blog open source multi language web blog project.</p>
                <a href="https://github.com/ademguney/BlogiBlog-MVC" target="_blank" class="fxt-btn-ghost">GitHub Repository</a>
            </div>
        </div>
        <div class="col-md-6 col-12 fxt-bg-color">
            <div class="fxt-content">
                <div class="fxt-form">
                    <h2>For recover your password</h2>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="POST">
                        <div class="form-group">
                            <div class="fxt-transformY-50 fxt-transition-delay-3">
                                <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fxt-transformY-50 fxt-transition-delay-17">
                                <button type="submit" class="fxt-btn-fill">Send Me Email</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>