@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 fxt-bg-img" data-bg-image="../favicon.png">
            <div class="fxt-header">

                <h1>Welcome To Blogi BLoG</h1>
                <p>Blogi Blog open source multi language web blog project.</p>
                <a href="https://github.com/ademguney/BlogiBlog-MVC" target="_blank" class="fxt-btn-ghost">GitHub Repository</a>
            </div>
        </div>
        <div class="col-md-6 col-12 fxt-bg-color">
            <div class="fxt-content">
                <div class="fxt-form">
                    <h2>Login into your account</h2>
                    <form asp-controller="Account" asp-action="Login" method="POST">
                        <div class="form-group">
                            <div class="fxt-transformY-50 fxt-transition-delay-3">
                                <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fxt-transformY-50 fxt-transition-delay-4">
                                <input id="password" type="password" class="form-control" name="password" placeholder="********" required="required">
                                <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fxt-transformY-50 fxt-transition-delay-3">
                                <div class="fxt-checkbox-area">
                                    <div class="checkbox">
                                        <input id="checkbox1" name="rememberMe" type="checkbox" checked>
                                        <label id="checkbox1" for="checkbox1">Keep me logged in</label>
                                    </div>
                                    <a href="forgot-password-19.html" class="switcher-text">Forgot Password</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fxt-transformY-50 fxt-transition-delay-5">
                                <div class="text-center">
                                    <button type="submit" class="fxt-btn-fill">Log in</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>