<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> @ViewData["Title"] | Arjin Dashboard Panel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Blogi Blog admin panel, an open source blog project">
    <meta name="keywords" content="guneyadem.com, guneyadem, opensource, blogproject">
    <meta name="author" content="Software Engineer Adem Guney">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">



    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/admin_temp/favicon.png">


    <!-- DataTables CSS -->
    <link href="~/admin_temp/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/admin_temp/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/admin_temp/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" />


    <!-- Start CSS -->
    <link href="~/admin_temp/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/admin_temp/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/admin_temp/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <!-- End CSS -->
    <!-- Summernote CSS -->
    <link href="~/admin_temp/summernote/summernote.css" rel="stylesheet" />

    @RenderSection("style", required: false)
</head>

<body class="xp-vertical">

    <!-- Start XP Container -->
    <div id="xp-container">

        <!-- Start XP Leftbar -->
        <partial name="_leftSideBar" />
        <!-- End XP Leftbar -->
        <!-- Start XP Rightbar -->
        <div class="xp-rightbar">

            <!-- Start XP Topbar -->
            <partial name="_topBar" />
            <!-- End XP Topbar -->

            <!-- Start XP Contentbar -->
            <div class="xp-contentbar">
               

                <!-- Start XP Row -->
                <div class="row">

                    <!-- Start XP Col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        @RenderBody()
                    </div>
                    <!-- End XP Col -->

                </div>
                <!-- End XP Row -->

            </div>
            <!-- End XP Contentbar -->

            <!-- Start XP Footerbar -->
            <partial name="_footer" />
            <!-- End XP Footerbar -->

        </div>
        <!-- End XP Rightbar -->

    </div>
    <!-- End XP Container -->
    <!-- Start JS -->
    <script src="~/admin_temp/assets/js/jquery.min.js"></script>
    <script src="~/admin_temp/assets/js/popper.min.js"></script>
    <script src="~/admin_temp/assets/js/bootstrap.min.js"></script>
    <script src="~/admin_temp/assets/js/modernizr.min.js"></script>
    <script src="~/admin_temp/assets/js/detect.js"></script>
    <script src="~/admin_temp/assets/js/jquery.slimscroll.js"></script>
    <script src="~/admin_temp/assets/js/sidebar-menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



    <!-- DataTable JS -->
    <script src="~/admin_temp/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/admin_temp/assets/plugins/datatables/buttons.colVis.min.js"></script>
  

    <!-- Summernote JS -->
    <script src="~/admin_temp/summernote/summernote.min.js"></script>

    <!-- Main JS -->
    <script src="~/admin_temp/assets/js/main.js"></script>
    <!-- End JS -->

    @RenderSection("Scripts", required: false)
</body>
</html>
