
<div class="xp-topbar">
    <!-- Start XP Row -->
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
            <div class="xp-menubar">
                <a class="xp-menu-hamburger" href="javascript:void();">
                    <i class="icon-menu font-20 text-white"></i>
                </a>
            </div>
        </div>
        <!-- End XP Col -->
        <!-- Start XP Col -->
        <div class="col-10 col-md-11 col-lg-11 order-1 order-md-2">
            <div class="xp-profilebar text-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <div class="xp-search">
                            <a href="#" class="text-white" data-toggle="modal" data-target="#xpSearchModal"><i class="icon-magnifier"></i></a>
                            <!-- Modal -->
                            <div class="modal fade" id="xpSearchModal" tabindex="-1" role="dialog" aria-labelledby="xpSearchModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="xp-searchbar">
                                                <form>
                                                    <div class="input-group">
                                                        <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn" type="submit" id="button-addon2">GO</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="list-inline-item mr-0">
                        <div class="dropdown xp-userprofile">
                            <a class="dropdown-toggle " href="#" role="button" id="xp-userprofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/topbar/user.png" alt="user-profile" class="rounded-circle img-fluid"><span class="xp-user-live"></span></a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="xp-userprofile">
                                <a class="dropdown-item py-3 text-white text-center font-16" href="#">NameSurname</a>
                                <a class="dropdown-item" asp-controller="#" asp-action="#" asp-route-id="">
                                    <i class="icon-user text-danger mr-2"></i> myAccount
                                </a>
                                <a class="dropdown-item" asp-controller="Login" asp-action="SignOut">
                                    <i class="icon-power text-danger mr-2"></i> logOut
                                    </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End XP Col -->

    </div>
    <!-- End XP Row -->

</div>

