/* 
=========================
  Authentication Pages
=========================
*/
.xp-authenticate-bg {    
    background: url(../images/authentication/authentication-bg.png);    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.xp-container {         
    .xp-auth-box {          
        position: relative;
        width: 500px;          
        margin: 0 auto;
        .xp-error-title {
          font-size: 90px;
        }
        .xp-web-logo {
          img {
            margin: 30px 0;
          }          
        }
        .xp-user-logo {
          position: relative;
          z-index: 999;
          img {
            height: 80px;
            width: 80px;
          }
        }
        .login-or {
          position: relative;
          text-align: center;
          margin-top: 20px;
          font-weight: 600;
          margin-bottom: 30px;
          &:before {
            content: '';
            background: #d4d4d4;
            height: 1px;
            width: 45%;
            top: 45%;
            left: 0;
            position: absolute;
          }
          &:after {
            content: '';
            background: #d4d4d4;
            height: 1px;
            width: 45%;
            top: 45%;
            right: 0;
            position: absolute;
          }
        }
    }
    .xp-countdown-block {
        display: inline-block;
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .xp-container {         
        .xp-auth-box {          
            width: 100%;    
        }
    }
} 