/* 
===============
    General
===============
*/

html {
  position: relative;
  min-height: 100%;
}
body {  
  font-family: $font-primary;
  margin: 0;
  background: $bg-body;
  font-size: $base-font;
  font-weight: 400;
  color: $muted;
  line-height: 1.5;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
b {
  font-weight: 700;
}
strong {
  font-weight: 700;
}
p {
    line-height: 1.3;
    margin-bottom: 10px;
}
label {
    vertical-align: middle;
}
* {
  outline: none !important;
}
a {
  color: $primary;
  &:hover {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
  &:active {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
}
code {
  color: $primary;
}
.xp-logo {
  color: $dark !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 100px;
  text-transform: uppercase;
}
.xp-leftbar {
  width: 250px;
  height: $height;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(200, 200, 200, 0.2);
  z-index: 9;
  transition: all 0.3s ease;
}
.xp-rightbar {
  margin-left: 250px;
  overflow: hidden;
  min-height: 500px;
  transition: all 0.3s ease;
}
.xp-contentbar {
    padding: 30px;
    margin-bottom: 30px;
}
.xp-footerbar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 250px;
  padding: 20px 30px;
  text-align: center;
  border-top: 1px solid $light;
}
.xp-toggle-menu .xp-footerbar {
    left: 0;
}