/* 
==============
    JSTree
==============
*/

.jstree-default {
	.jstree-hovered {
	    background: lighten($primary, 30%);
	    border-radius: 2px;
	    box-shadow: inset 0 0 1px lighten($primary, 30%);
	}
	.jstree-clicked {
	    background: lighten($primary, 25%);
	    border-radius: 2px;
	    box-shadow: inset 0 0 1px lighten($primary, 25%);
	}
	.jstree-wholerow-hovered {
		background: lighten($primary, 30%);
	}
	.jstree-wholerow-clicked {
		background: lighten($primary, 25%);
	}
}