/* 
================
    Nestable
================
*/

.dd-list {  
  .dd-item {
      >button {
        height: 27px;
        margin: 5px 0 5px 10px;
      }
      .dd-list {
        padding-left: 40px;
      }
      .dd-handle {
          display: block;
          height: auto;
          margin: 5px 0;
          padding: 8px 18px;
          color: $muted;
          text-decoration: none;
          font-weight: 600;
          border: 1px solid lighten($light, 5%);
          background: lighten($light, 5%);
          border-radius: 3px;
          box-sizing: border-box;
          &:hover {
            color: $primary;
            background: lighten($primary, 30%);
            border: 1px solid lighten($primary, 30%);
            cursor: move;
          }
      }
    }
}

/* ----- Nestable List 2 ----- */

#nestable2 {  
  .dd-list {
    .dd-item {
      > button {
        :before {
          color: $muted;
        }
      }
      .dd-handle {
          color: $muted;
          border: 1px solid lighten($light, 5%);
          background: lighten($light, 5%);
          &:hover {
              color: $primary;
              background: lighten($primary, 30%);
              border: 1px solid lighten($primary, 30%);
          }
      }
    }
  }
}

/* ----- Nestable Draggable Handles ----- */

.dd-list {
    .dd-item {
      &.dd3-item {
         > button {
          margin-left: 40px;
        }
      }
      .dd3-handle {
          position: absolute;
          margin: 0;
          left: 0;
          top: 0;
          cursor: pointer;
          width: 40px;
          text-indent: 40px;
          white-space: nowrap;
          overflow: hidden;
          border: 1px solid $light;
          background: $light;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          box-shadow: none;
          &:before {
              content: '\F35C';
              font-family: 'Material Design Icons';
              display: block;
              position: absolute;
              left: 0;
              top: 7px;
              width: 100%;
              text-align: center;
              text-indent: 0;
              color: $muted;
              font-size: 20px;
              font-weight: 500;
          }
      }
      .dd3-content {
            display: block;
            margin: 5px 10px;
            padding: 8px 15px 8px 40px;
            color: $muted;
            text-decoration: none;
            font-weight: 600;
            border: 1px solid lighten($light, 5%);
            background: lighten($light, 5%);
            border-radius: 3px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;            
            &:hover {
              color: $primary;
              background: lighten($primary, 30%);
              border: 1px solid lighten($primary, 30%);
            }
        }
    }
}  