<div class="xp-footerbar">
    <footer class="footer">
        <p class="mb-0">
            © BlogiBlog
            <i class="icon-heart text-danger"></i>
            <a href="https://github.com/ademguney/BlogiBlog-MVC" target="_blank">Open Source Project Click For Github Repository</a>
        </p>
    </footer>
</div>