<div class="xp-leftbar">
    <!-- Start XP Sidebar -->
    <div class="xp-sidebar">

        <!-- Start XP Logobar -->
        <div class="xp-logobar text-center">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Home" class="xp-logo">
                <img src="~/favicon.png" class="rounded-circle" alt="arjin.io" style="width:40px; height:40px;">

            </a>
        </div>
        <!-- End XP Logobar -->
        <!-- Start XP Navigationbar -->
        <div class="xp-navigationbar">
            <ul class="xp-vertical-menu">
                <li class="xp-vertical-header"><i class="dripicons-article"></i> Blog</li>
                 <li>
                    <a href="javaScript:void();">
                        <i class="ion-md-list"></i><span>Tag</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Tag" asp-action="Home">List</a></li>
                        <li><a asp-controller="Tag" asp-action="Create">Create</a></li>
                    </ul>
                </li>

                <li class="xp-vertical-header"><i class="icon-settings"></i> System Configuration</li>
                <li>
                    <a href="javaScript:void();">
                        <i class="fa fa-language"></i><span>Language</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="Language" asp-action="Home">List</a></li>
                        <li><a asp-controller="Language" asp-action="Create">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();">
                        <i class="fa fa-language"></i><span>String Resource</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="StringResource" asp-action="Home">List</a></li>
                        <li><a asp-controller="StringResource" asp-action="Create">Create</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="javaScript:void();">
                        <i class="ion-md-mail"></i><span>Mail Setting</span><i class="icon-arrow-right pull-right"></i>
                    </a>
                    <ul class="xp-vertical-submenu">
                        <li><a asp-controller="MailSetting" asp-action="Home">Configure</a></li>                      
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End XP Navigationbar -->

    </div>
    <!-- End XP Sidebar -->
</div>