@model Blogi.Application.Features.Abouts.Dtos.Get.GetAboutOutput
@{
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = @Model.MetaDescription;
    ViewData["Keywords"] = @Model.MetaKeywords;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.Raw(Model.Content)
    </div>

</div>