@model IEnumerable<Blogi.Application.Features.Categories.Dtos.GetCategoryList.GetCategoryListOutput>

<ul>
    @foreach (var item in Model)
    {
        <li><a href="/category/@item.Slug-@item.Id">@item.Name</a><span class="count">@item.Count</span></li>
    }
</ul>
