<div class="container-xl">
			<div class="footer-inner">
				<div class="row d-flex align-items-center gy-4">
					<!-- copyright text -->
					<div class="col-md-4">
						<span class="copyright"><a href="https://github.com/ademguney/BlogiBlog-MVC" target="_blank">Blogi Blog</a></span>
						
					</div>

					<!-- social icons -->
					<div class="col-md-4 text-center">
						  @await Component.InvokeAsync("SocialLinks")
					</div>

					<!-- go to top button -->
					<div class="col-md-4">
						<a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>Back to Top</a>
					</div>
				</div>
			</div>
		</div>