 <div class="row post-carousel-featured post-carousel">
            <!-- post -->
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">Lifestyle</a>
                    <h4 class="post-title"><a href="blog-single.html">Important Thing You Need To Know About Swim</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="images/posts/featured-md-4.jpg"></div>
                    </div>
                </a>
            </div>
            <!-- post -->
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">Fashion</a>
                    <h4 class="post-title"><a href="blog-single.html">Most Burning Questions About Light Lamp</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="images/posts/inspiration-3.jpg"></div>
                    </div>
                </a>
            </div>
            <!-- post -->
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">Inspiration</a>
                    <h4 class="post-title"><a href="blog-single.html">9 Most Awesome Blue Lake With Snow Mountain</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="images/posts/featured-md-1.jpg"></div>
                    </div>
                </a>
            </div>
            <!-- post -->
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">Trending</a>
                    <h4 class="post-title"><a href="blog-single.html">Open The Gates For Chair By Using These Tips</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="images/posts/featured-md-2.jpg"></div>
                    </div>
                </a>
            </div>
            <!-- post -->
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">Politic</a>
                    <h4 class="post-title"><a href="blog-single.html">Feel Like A Pro With The Help Of These 7 Tips</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="images/posts/featured-md-3.jpg"></div>
                    </div>
                </a>
            </div>
            <!-- post -->
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <a href="category.html" class="category-badge">Culture</a>
                    <h4 class="post-title"><a href="blog-single.html">Your Light Is About To Stop Being Relevant</a></h4>
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                    </ul>
                </div>
                <a href="blog-single.html">
                    <div class="thumb rounded">
                        <div class="inner data-bg-image" data-bg-image="images/posts/inspiration-3.jpg"></div>
                    </div>
                </a>
            </div>
        </div>